main {
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: 1;
}
app-sidebar {
    position: absolute;
    padding-top: 0px;
    margin-top: 10px;
    left: 0rem;
    width: 85px;
    height: calc(100vh);
    box-shadow: 0px 0px 5px #000000;
    background-color: #0C747E;
}
app-items {
    position: absolute;
    padding-top: 0;
    left: 0rem;
    margin-left: 6%;
    width: 193px;
    height: calc(100vh);
    border-right: 1px solid #000000;
    border-radius: 18px;
    background-color: transparent;
}







